@font-face {
    font-family: 'Gamja Flower';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/GamjaFlower/GamjaFlower.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/GamjaFlower/GamjaFlower.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/GamjaFlower/GamjaFlower.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/GamjaFlower/GamjaFlower.ttf') format('truetype');
}
